
:root{
    --almost-white: hsl(0, 0%, 98%);
    --gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}



*{
    box-sizing: border-box;
    font-family: "Epilogue", sans-serif;

}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: var(--almost-white);
}

main{
    width: 100%;

}

img{
    width: 100%;
}



/* everything relate with the header  */
header, button, a, li{
    color: var(--gray);
    font-size: .9em;
}




header{
    margin: 1rem 0;
    width: 90%;
    display: flex;
    align-items: center;
   
}

.login{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

button:hover{
    color: var(--almost-black);
}

a:hover{
    color: var(--almost-black);
}

li svg{
    margin-right: .8rem;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.almoadilla{
    width: 40px;
    height: 40px;
}

.box{
    visibility: hidden;
    position: absolute;
    background-color: var(--almost-white);
    width: 50vw;
    min-height: 100vh;
    top: 0;
    right: 0;
    padding: 80px 1rem 1rem 1rem;
    display: flex !important;
    flex-direction: column;
    gap: 16px;
    z-index: 10;
}

.close{
    display: none;
}

.closeArrow{
    display: none;
}

.notDisplay{
    display: none;
}

.active{
    visibility: visible;
    display: block
}


.almoadilla{
    z-index: 10;
    margin-left: auto;
}

ul{
    list-style: none;
    cursor: pointer;
    padding: 0rem;
    margin: 1rem;
    margin-bottom: 0;
   

}
li{
    padding: .6rem .3rem .6rem 0rem;
    font-weight: 600;
    
}

li:last-child{
    margin-bottom: 0;
}

.registre{
    align-items: center;
    margin-top: 1rem;
}

.btnRegistre{
    border: 2px solid var(--gray);
    width: 90%;
    padding: .6rem 1rem;
    border-radius: 10px;
}

.btnRegistre:hover{
    border: 2px solid var(--almost-black);
}



.arrow-cerrar{
    display: none;
}



/* finish   everything relate with the header  */


.texto{
    text-align: center;
    padding-inline: 3rem;
    line-height: 1.5;
}
h1{
    margin-bottom: 0;
}

main p{
    color: var(--gray);
}

.texto button{
    color: var(--almost-white);
    background-color: var(--almost-black);
    padding: 1rem 1.5rem;
    border-radius: 15px;
}

footer{
    margin: 3rem auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.desk{
    display: none;
}
.learn{
    border: 2px solid black;
}

.learn:hover{
    background-color: var(--almost-white);
    color: var(--almost-black);
    border: 2px solid var(--gray);
}

.opa{
    background-color:  hsla(0, 0%, 8%, 0.7);
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
}

@media (min-width: 700px) {

    /* everything relate with the header  */
    header{
        gap: 40px;
        margin-top: 0;

    }
    .almoadilla{
        display: none;
    }
    .box{
        visibility: visible;
        position: static;
        min-height: auto;
        align-items: center;
        padding: 0;
        width: 90%;
        gap: 50px;
        flex-direction: row;
    }

    .login, .active{
        flex-direction: row;
        gap: 20px;
    }

    nav{
        position: relative;
    }

    ul{
        position: absolute;
        top: calc(100%);
        background-color: var(--almost-white);
        width: max-content;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 1px 1px 10px var(--gray);
    }
    .feature{
        right: 0;
    }
    li{
        padding: .3rem;
        margin: 0;
    }
    .registre{
        margin-left: auto;
    }

    .mobile{
        display: none;
    }

    .desk{
        display: block;
    }

    main{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 1rem;
        justify-content: space-evenly;
        margin-bottom: 2rem;
    }

    .container{
        width: 35%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .texto{
        text-align: left;
        margin-top: 6rem;
        padding-inline: 0;
        
    }

    .texto p {
        padding-right: 2rem;
        margin-bottom: 2rem;
    }

    h1{
        font-size: 2.6em;
        line-height: 1;
    }

    .imm{
        width: 25%;
        
    }
    
    footer{
        width: 100%;
        margin: 0;
        padding-inline: 0;
    }

    .make{
        display: block;
    }
/* finish   everything relate with the header  */

  }